:root {
  --color_principal: #f64107;
  --fuente_lato: "Lato", sans-serif;
  --fuente_mulish: "Mulish", sans-serif;
  --fuente_poppins: "Poppins", sans-serif;
  --fuente_roboto: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}

h1,
h2,
h3 {
  margin: 0;
}


.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*               Login             */

.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-login {
  width: 58.5rem;
  height: 57rem;
  background-color: #fff;
  padding: 80px;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.box-login p {
  margin: 0;
}

.box-login h1 {
  color: #141938;
  font-size: 3rem;
}

.box-login p {
  color: #474749;
  font-size: 1.8rem;
  margin-top: 1.2rem;
  font-family: "Mulish", sans-serif;
}

.input-login {
  border: 0.1rem solid #141938;
  border-radius: 1rem;
  padding: 2.3rem 2rem;
  font-size: 1.8rem;
  width: 44rem;
  height: 6.9rem;
  margin-top: 4.9rem;
}

.box-login ::placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 1.8rem;
  color: #c7c7c7;
}

.login-btn {
  cursor: pointer;
  background-color: var(--color_principal);
  border-radius: 0.8rem;
  border: 0;
  color: #fff;
  font-size: 2rem;
  font-family: "Mulish", sans-serif;
  margin: auto;
  margin-bottom: 0;
  width: 31.2rem;
  height: 6.2rem;
}

/* Mensaje de error */
.message {
  font-family: "Mulish", sans-serif;
  background-color: red;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  width: 44rem;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
}

/* Dashboard */

.container-dashboard {
  display: flex;
}

/* NavBar */
.navBar {
  height: 100vh;
  width: 23rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  margin-top: 2.9rem;
  width: 8rem;
  height: 7.3rem;
}

.container-links {
  width: 100%;
  /* margin-top: 6rem; */
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  gap: 4.1rem;
}

.link {
  border-left: 3px solid #fff;
  display: flex;
  align-items: center;
  height: 3.9rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
  gap: 1.9rem;
}

.ic_links {
  margin-left: 4.1rem;
}

.ic_links path {
  stroke: #141938;
}

.isActive {
  border-left: 3px solid var(--color_principal);
  color: var(--color_principal);
}

.isActive .ic_links path {
  stroke: var(--color_principal);
}

.active {
  border-left: 3px solid var(--color_principal);
  color: var(--color_principal);
}

.active .ic_links path {
  stroke: var(--color_principal);
}

/* Productos */

.container {
  padding: 5rem 4rem 3.3rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* input-search */
/* .search-logout {
  display: flex;
  justify-content: space-between;
} */

.search {
  width: 65.5rem;
  height: 5.2rem;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  font-size: 1.6rem;
  color: #141938;
  padding-left: 6rem;
}

.input {
  position: relative;
}

.input svg {
  position: absolute;
  margin-left: 2rem;
  top: 1.3rem;
}

.logout {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

/* title-btnAdd */
.title-add {
  /* margin-top: 4.4rem; */
  margin-top: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-add h1 {
  font-size: 2.4rem;
  font-weight: 500;
  /* font-family: mulish; */
  font-family: var(--fuente_mulish);
}

.btn-add {
  width: 13.2rem;
  height: 3.8rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 1.5rem;
  background-color: var(--color_principal);
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* table */

.container-table {
  margin-top: 1.5%;
  width: 100%;
  height: 100%;
  /* max-height: 89.5rem; */
  background-color: #fff;
  overflow-y: scroll;
}

.container-table::-webkit-scrollbar {
  width: 1rem;
  background-color: #fff;
}

.container-table::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 0.5rem;
}

.container-table table {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  border-spacing: 0;
}

thead {
  font-family: var(--fuente_lato);
  font-weight: 600;
  font-size: 1.4rem;
  width: 100%;
}

tbody {
  font-family: var(--fuente_poppins);
  font-weight: 400;
  font-size: 1.4rem;
  color: #474749;
}

td {
  border-top: 1px solid #f2f2f2;
  padding: 0;
}

tr {
  height: 7.9rem;
}

td:nth-child(1) {
  color: var(--color_principal);
  width: 8%;
}

td:nth-child(2) {
  width: 8%;
}

td:nth-child(3) {
  width: 12%;
}

td:nth-child(4) {
  width: 25%;
}

td:nth-child(5) {
  width: 20%;
}

.url-imagen {
  display: block;
  width: 25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #474749;
}

td:nth-child(6) {
  width: 7%;
}

td:nth-child(7) {
  width: 7%;
}

td:nth-child(8) {
  width: 13%;
}

/* contenedor de la acciones (estado-editar-eliminar) */

.opciones{
  display: flex;
  justify-content: center;
  gap: 1.4rem;
}

.btn-edit, .btn-delete{
  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}

/* Pagina Nuevo Producto */
.flex-space-between h1{
  margin-top: 3rem;
  font-size: 2.4rem;
  font-family: var(--fuente_mulish);
  font-weight: 500;
}

.ruta{
  font-family: var(--fuente_mulish);
  font-size: 1.2rem;
  font-weight: 300;
  color: #474749;
}

.ruta span{
  color: var(--color_principal);
  font-weight: 700;
}


/* Formulario */

.container-form{
  margin-top: 4rem;
  width: 56.7rem;
  height: 37.3rem;
  background-color: #fff;
  border-radius: 1.6rem;
  padding: 2.9rem 3.3rem;
}

.form{
  display: grid;
  row-gap: 8px;
  column-gap: 13px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
}

.form label{
  font-size: 1.2rem;
  color: #696D6E;
  font-family: var(--fuente_roboto);
  font-weight: 400;
}

.tipo, .nombre, .descripcion, .imagen_URL, .precio, .cantidad{
  display: flex;
  gap: 2px;
  flex-direction: column;
}


.form input, #tipo, #descripcion{
  width: 24.4rem;
  height: 3.2rem;
  border-radius: 8px;
  background-color: #F4F8FA;
  border: 1px solid #D1E2EA;
  padding: 0 1rem;
  font-family: var(--fuente_poppins);
}

.form input:focus, #tipo:focus, #descripcion:focus{
  border: 1px solid #83b8d1;
  outline: none;
}

#descripcion{
  height: 7rem;
  resize: none;
  padding: 1rem;
}

.mostrar_en_aplicativo{
  display: flex;
  align-items: center;
  gap: 1.2rem;
  grid-column: 1/3;
}

.mostrar_en_aplicativo input[type="checkbox"]{
  width: 2rem;
}

.guardar-cancelar{
  display: flex;
  gap: 1.5rem;
}

.guardar-cancelar button{
  border: none;
  cursor: pointer;
  width: 10.8rem;
  height: 3.2rem;
  border-radius: 8px;
  background-color: var(--color_principal);
  color: #fff;
  font-family: var(--fuente_poppins);
  font-weight: 600;
  font-size: 1.4rem;
}

.guardar-cancelar button:nth-child(2){
  background-color: #FAFBFF;
  color: var(--color_principal);
}


/* .label_tipo{
  grid-column: 1/3;
}

.label_nombre{
  grid-column: 3/5;
} */